.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
}

.form button {
  color: white;
  background-color: green;
}

.form button:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
